.container-list {
  display: flex;
  flex-direction: column;
  height: auto;
  /* margin-top: 5vh; */
  background-image: url(../footer-bg.jpg);
  /* background-size: cover; */
  /* background-color: blue; */
}
.title-box{
    /* display: flex; */
    /* background-color: white; */
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vh;
}

.list {
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  /* background-color: red; */
  width: auto;
  height: 100%;
  display: grid;
  justify-content: center;
  gap: 15px;
}

.list div {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(10, 1fr);
  margin-bottom: 10vh;
}
.container-title {
  color: white;

}
