@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

body {
  background-color: #201f1f;
}

.container {
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 2%;
}

.container-hero {
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
}

.slick-slide img {
  max-width: 100%;
  border: 2.75px solid rgba(255, 255, 255, 0);
  box-sizing: border-box;
}

.list {
  min-height: 150px;
}
.original {
  min-height: 400px;
}

.list-title {
  margin: 0;
  color: white;
  padding-bottom: 5px;
}

.masked {
  mask-image: linear-gradient(to right, transparent 3%, black);
}

.movie-information-carousel {
  font-family: "Inter", sans-serif;
}
